*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open-sans', sans-serif;
}

.container{
    width: 100%;
    max-width: 1025px;
    padding: 0 10px;
    margin: 0 auto;
}

/* header */

header{
    background-color: #706AC1;
    padding: 10px 0;
}

header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #f2f2f2;
}

header .container nav ul li{
    float: left;
    list-style: none;
    padding: 0 10px;
}

/* Home */

section{
    padding: 20px 0px;
}

#home .container{
    display: grid;
    grid-template-columns: repeat(2, 45%);
    column-gap: 10%;
}

.img-store{
    max-width: 100%;
    }

.img-store img{
    max-width: 700px;
    width: 100%;
}

.about-store{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.container h2{
    border-bottom: 2px solid;
    padding-bottom: 8px;
    margin-bottom: 8px;
    font-size: 2em;
}
.about-store h2{
    color: #3f3f90;
    border-color: #706AC1;
}


.about-store p{
    color: #706AC1;
    font-size: 1.5em;
}

/* Produtos */

#produtos{
    background-color: #706AC1;
    color: #f2f2f2;
}

#produtos .container h2{
    font-size: 2rem;
    margin-bottom: 30px;
}

.cards-produtos{
    display: grid;
    grid-template-columns: repeat(4, 24.25%);
    column-gap: 1%;
}
.cards-produtos li{
    background-color: #897fd9;
    padding: 20px 8px;
    list-style: none;
    border-radius: 5px;
}

.cards-produtos li img{
    max-width: 100%;
    margin-bottom: 8px;
}

.cards-produtos li h3{
    color: #3f3f90;
    margin-bottom:5px;
}

.cards-produtos li button{
    background-color: #262a77;
    border: none;
    padding: 10px;
    border-radius: 5px;
    margin: 10px 0;
}



